<!DOCTYPE html>
{% load static %}

<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>Forum アプリケーション</title>
        <link rel="stylesheet" type="text/css" href="{% static 'forum/css/index.css' %}" />
    </head>

    <body>
        <h1>Forum</h1>
        <h2>各掲示板へのリンク</h2>
        <table>
        {% for topic in topics %}
        {% if topic != "Swift" and topic != "Kotlin" %}
            <tr>
                <th>
                    {{ topic }}
                </th>
                <td>
                    <a href="{% url 'forum:forum' topic %}">{{ topic }}の掲示板へ</a>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        <a href="{% url "account_login" %}">ログイン</a>
    </body>

</html>